#playing{

  text-align: center;
  padding: 5% 35%;
  padding-top: 0;
  padding-bottom: 0;
}
.play-space{
  background-color:#980F5A ;
  padding: 3%;
  padding-top: 0;
  color:white;
}
.play-space h2,h3{
  margin: 0;
}
.music-control{
  margin:1.1rem;
  font-size:36px;
}
body{
  background-color: #750550;
}
.song-item{
  display: inline-block;
  background-color: #570530;
  margin:1.1rem;
  text-align: center;
}
.song-item img{
  border-radius:100%;
  /* width:15%;
  height:15%; */
}
.song-item h2,h3{
  margin: 0;
  color:white;
}
.song-item a{
  background-color: #B3541E;
  color:white;
  width: 100%;
  text-decoration: none;
  display: block;
  height: 15%;
  padding-top: 2%;
  font-size: 1.2rem;
}
#song-display{
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}

@media only screen and (max-width:1179px){
  #song-display{
    grid-template-columns: 33% 33% 33%;
  }
}

@media only screen and (max-width:950px){
  .play-space i{
    font-size: 20px;
  }
}
@media only screen and (max-width:900px){
  #song-display{
    grid-template-columns: 50% 50%;
  }
  .play-space img{
    border-radius:100%;
    width:70%;
    height:70%;
  }
  #playing{
    padding: 3% 17%;
  }
}
@media only screen and (max-width:625px){
  #song-display{
    grid-template-columns: 100%;
  }
  .play-space{
    padding: 0;
  }
  #playing{
    padding: 0;
  }
}
